<!DOCTYPE html>
<html>

<head>
    <title>OpenStreetMap with Openlayers in .NET MVC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/openlayers/ol.css" rel="stylesheet" />
    <link href="~/css/jspanel/jspanel.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" /> 
    <link href="~/css/sweetalert/sweetalert2.min.css" rel="stylesheet" />

</head>
<body>
    <div id="map" class="map"></div>
    <div class="button-container">
        <button id="addPointBtn">Add Point</button>
        <button id="getAllPoints">Get All Points</button>
        <button id="queryPointsBtn">Query Points</button>
        <button id="addPolygonBtn">Add Polygon</button>
        <button id="queryPolygonBtn">Query Polygon</button>


    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/openlayers/dist/ol.js"></script>
    <script src="~/js/jspanel/jspanel.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/sweetalert/sweetalert.js"></script>

</body>


</html>
